@font-face {
    font-family: "Montserrat";
    src: url("../Евклид/Montserrat-VariableFont_wght.ttf"), url("../Евклид/Montserrat-Italic-VariableFont_wght.ttf"), url("../Евклид/static/Montserrat-Black.ttf"), url("../Евклид/static/Montserrat-BlackItalic.ttf"), url("../Евклид/static/Montserrat-Bold.ttf"), url("../Евклид/static/Montserrat-BoldItalic.ttf"), url("../Евклид/static/Montserrat-ExtraBold.ttf"), url("../Евклид/static/Montserrat-ExtraBoldItalic.ttf"), url("../Евклид/static/Montserrat-ExtraLight.ttf"), url("../Евклид/static/Montserrat-ExtraLightItalic.ttf"), url("../Евклид/static/Montserrat-Italic.ttf"), url("../Евклид/static/Montserrat-Light.ttf"), url("../Евклид/static/Montserrat-LightItalic.ttf"), url("../Евклид/static/Montserrat-Medium.ttf"), url("../Евклид/static/Montserrat-Thin.ttf");
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1920px;
    padding: 0;
    font-style: normal;
    background-color: #E5E5E5;
}
main
{
    max-width: 1770px;
}
footer
{
    max-width: 1920px;
}
ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container {
    margin: auto;
    background: #E5E5E5;
    max-width: 1920px;
    padding-left: 75px;
    padding-right: 75px;
}
a {
    text-decoration: none;
}
.btn {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #CC9933;
    
}
.btn:focus:focus-visible
{
    background-color: #CC9933;
    color: #FFFFFF;
    outline: 1px solid #CC9933;
}
 .btn:hover {
    background-color: #CC9933;
    color: #FFFFFF;
 }
 .btn:active {
    background-color: #A47312;
    color: #FFFFFF;  
 }
.title {
    margin: 0px;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #333333;
}
:root {
    --black-color: #000000;
    --orange-color: #FF9900;
    --orange-color2: #E1670E;
    --white-color: #ffffff;
    --grey-color: #cacaca;
    --grey-color-2: #ececec;
    --dark-grey-color: #414141;
}
header
{
    width: 100%;
}
.container_header
{
    display: flex;
    align-items: center;
    flex-grow: 0;
    padding-top: 14px;
    padding-bottom: 8px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 32px 32px;
}
.header_logo
{
    width: 224px;
    margin-right: auto;
}
.header_content {
    display: flex;
    align-items: center;
}
.header_content__btn {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
}
.btn_p
{
    margin: 10px 0;
    padding: 0;
    border: none;
    transition: background-color .2s;
}
.header_nav
{
    
}
.header_nav__navigate
{
    display: none;
    padding: 0;
    background-color: transparent;
    border: none
}
.header_nav__list {
    display: flex;
    align-items: center ;
}

.nav_list__item:not(:last-child) {
    margin-right: 85px;
}
.nav_list__item:last-child
{
    margin-right: 260px;
}
.nav_link__title
{
    font-weight: 600;
font-size: 18px;
line-height: 22px;
color: var(--black-color);
text-align: center;
padding-bottom: 8px;
transition: box-shadow .2s;
}
.header_search
{
    width: 26px;
    height: 26px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    stroke: black;
    fill: black;
}
.header_search:focus
{
    border: 2px solid var(--orange-color);
}
.header_search:hover
{
    stroke: var(--orange-color);
    fill: var(--orange-color);
}
/*
.header__search::after {
    content: '';
    position: absolute;
    right: -4px;
    top: 18.55px;
    display: block;
    height: 2px;
    width: 8px;
    background-color: currentColor;
    transform: rotate(45deg);
}

.header__search:focus-visible,
.header__search:hover svg {
    color: var(--item-color);
    outline: 0;
    box-shadow: 0 0 5px var(--item-color);
}
*/
.container_project
{
    height: 620px;
}
.project
{
    height: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    
}
.project_content
{
    padding: 100px 80px;
    max-width: 92%;
}
.project__title
{
max-width: 837px;
margin: 0;
margin-bottom: 24px;
font-weight: 800;
font-size: 70px;
line-height: 85px;
color: var(--white-color);
}
.project__text
{
max-width: 790px;
font-weight: 700;
font-size: 24px;
line-height: 29px;
margin: 0;
color: var(--white-color);
margin-bottom: 90px;
}
.project__btn
{
    /*
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18.571px 37.1419px;
max-width: 280px;
min-height: 78px;
*/
background: var(--orange-color);
border-radius: 16px;
padding: 25px 39px;

}
.pr_btn__text
{
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.project_pich
{
    background-image: url("../Евклид/img/low-angle-photo-of-balconies-2462015\ 1.png");
    background-repeat: no-repeat;
    border-radius: 32px;
}
.about
{
    margin-bottom: 100px;
}
.about_us
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about__text
{
    max-width: 1235px;
    min-height: 192px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    word-break: break-word;
    max-width: 70%;
    margin-bottom: 40px;
}
.about_us_block
{
    display: flex;
    align-items: flex-end;
    max-width: 868px;
    min-height: 622px;
    background-image: url("../Евклид/img/Rectangle\ 2.png");
    background-repeat: no-repeat;
    /*
    background-size: cover;
    background-position: center center;*/
}
.about_content
{
    padding: 35px 67px 35px 50px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    
}
.about_block__text
{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: var(--white-color);
    margin-right: auto;
    max-width: 60%;
}
.about_us__btn
{
padding: 19px 38px;
border: 3px solid #FF9900;
border-radius: 16px;
cursor: pointer;
background-color: transparent;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}
.about_us__list
{

    max-width: 870px;
}
.about_item
{
    padding: 65px 115px 65px 300px;
    border: 1px solid #CACACA;
    border-radius: 32px;
}
.about_item:first-child {
    margin-bottom: 32px;
}
.consul_ph
{
    background-image: url("../Евклид/img/Frame\ 16.svg");
    background-position: left 55px top 58px;
    background-repeat: no-repeat;
}
.aspirat_ph
{
    background-image: url("../Евклид/img/Frame\ 12.svg");
    background-position: left 55px top 64px;
    background-repeat: no-repeat;
}
.about_item__title
{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
}
.about_item__text
{
max-width: 450px;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #000000;
margin: 0;
}

/*Как мы работаем*/

.work
{
    margin-bottom: 111px;
}
.work_title
{
    margin-bottom: 50px;
}
.work_list__step
{
    display: flex;
    margin-bottom: 40px;
}
.work_item__step:not(:last-child)
{
    margin-right: 89px;
}
.item_step__active
{
    color: #E1670E;
}
.step_link
{
    transition: color .2s;
    font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;

}
.step_link:focus-visible,
.step_link:hover {
    color: var(--orange-color);
}

.step_link:focus-visible {
    outline: var(--orange-color) solid 2px;
}

.work_list
{
    display: flex;
}
.work_item
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in
}
.work_item__active
{
    position: relative;
    opacity: 1;
    visibility: visible;
}
.work_article
{
    display: flex;
    align-items: flex-end;
}
.work_article__content
{
    margin-right: auto;
}
.work_article__title
{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.work_article__text
{
    margin: 0px;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    max-width: 758px;
    margin-bottom: 10px;
}
.work_article__btn
{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.work_btn
{
    padding: 19px 38px;
    font-size: 16px;
    border: 1px solid #333333;
    transition: color .2s, background-color .2s;
border-radius: 16px;
}
.work_btn:not(:last-child) {
    margin-right: 31px;
}

.work_btn:focus-visible,
.work_btn:hover {
    color: #fff;
    background-color: #333333;
}

.work_btn:focus-visible {
    outline: var(--orange-color) solid 2px;
}
.btn_podrobnee
{
    color: #fff;
    border-radius: 16px;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
}
.btn_podrobnee:focus-visible,
.btn_podrobnee:hover {
    background-color: transparent;
    color: #333333;
}
.work_article__image
{

}

/*Часто задаваемые вопросы*/
.faq
{
    margin-bottom: 100px;
}
.faq_title
{
    margin-bottom: 32px;
}
.faq_list
{
    margin-top: 40px
}
.faq_item
{
    padding-left: 4px;
    border-top: 1px solid var(--grey-color);
}
.faq_item:last-child {
    border-bottom: 1px solid var(--grey-color);
}
.faq_btn
{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0 33px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    border: none;
    background-color: transparent;
    transition: color .2s
}
.faq_btn::after {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    background-image: url('../Евклид/img/+х.png');
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position: center;
    transition: transform .3s ease-in-out;
}

.faq_btn:focus-visible,
.faq_btn:hover {
    color: var(--orange-color);
    outline: 0;
}

.faq_btn:focus-visible::after,
.faq_btn:hover::after {
    background-color: #d2d2d2;
}
.faq_btn__title
{
    font-size: 24px;
    line-height: 32px;
    transition: transform .3s ease-in-out;
}
.faq_text
{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
.faq_text p {
    padding-bottom: 40px;
}

/*footer*/

footer
{
    margin-top: 100px;
}
.footer_container
{
    display: flex;
    padding: 50px 75px;
    background: #000000;
}
.footer_block1
{
    width: 34%;
}
.footer_block2
{
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 14px;
    display: flex;
    width: 66%;
}
.footer_nav__item:not(:last-child)
{
margin-bottom: 14px;
}
.footer_nav__link
{
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}
.footer_form__title
{
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
    margin-bottom: 25px;
}
.footer_form
{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.footer_form__input
{
    height: 60px;
    margin-bottom: 25px;
    padding: 14px 24px;
    font-size: 16px;
    background-color: #414141;
    border: none;
}
.footer_form__input::placeholder {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px
}


/**/
.footer {
    margin-top: 100px;
    background-color: #222;
}

.footer__container {
    display: flex;
    padding-top: 48px;
    padding-bottom: 75px;
    color: var(--gray-color);
}
.footer__logo {
    width: 224px;
    transition: transform .2s;
}

.footer__logo:hover {
    transform: scale(.9)
}

.footer__logo-link:focus-visible {
    outline: var(--item-color) solid 2px
}

.footer_nav {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px
}

.footer_nav__item:not(:last-child) {
    margin-bottom: 14px
}

.footer_nav__link {
    transition: opacity .2s
}

.footer_nav__link:focus-visible,
.footer_nav__link:hover {
    opacity: .5
}

.footer_nav__link:focus-visible {
    outline: var(--item-color) solid 2px
}

.footer__sotial {
    margin-top: 115px
}

.footer_sotial {
    display: block;
    width: 60px;
    height: 60px;
    background-size: contain;
    cursor: pointer;
    transition: transform .2s
}

.footer_sotial__link:hover svg path {
    fill: var(--item-color)
}

.footer_sotial__link:active svg path {
    fill: #e1670e
}

.footer_sotial__link:focus-visible {
    outline: var(--item-color) solid 2px
}

.footer_sotial:not(:last-child) {
    margin-right: 25px
}

.footer__form {
    display: flex;
    align-self: flex-end;
    flex-basis: 33.333%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.footer__form>:focus-visible {
    outline: var(--item-color) solid 2px
}

.footer_form__title {
    margin-bottom: 25px
}

.footer_form__input {
    height: 60px;
    margin-bottom: 25px
}

.footer_form__area {
    height: 150px;
    resize: none
}

.footer_form__area,
.footer_form__input {
    padding: 14px 24px;
    color: var(--gray-color);
    font-family: inherit;
    font-size: 16px;
    background-color: #414141;
    border: none
}

.footer_form__area,
.footer_form__input,
.footer_form__submit {
    -webkit-appearance: none;
    border-radius: 0
}

.footer_form__area::placeholder,
.footer_form__input::placeholder {
    color: var(--gray-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px
}

.footer_form__area:focus-visible::placeholder,
.footer_form__input:focus-visible::placeholder {
    opacity: 0
}

.footer_form__bottom {
    display: flex;
    align-items: center;
    margin-top: 32px
}

.footer_form__submit {
    padding: 18px 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.5px;
    background-color: var(--item-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color .2s
}

.footer_form__submit:focus-visible,
.footer_form__submit:hover {
    background-color: transparent;
    border: 1px solid var(--item-color)
}

.footer_form__agree {
    position: relative;
    margin-left: 30px
}

.footer_form__label_agree {
    position: relative;
    cursor: pointer
}

.footer_form__checkbox {
    position: absolute;
    opacity: 0
}

.footer_form__label_agree::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid var(--gray-color)
}

.footer_form__checkbox:checked+.footer-form__label_agree::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    display: inline-block;
    width: 7px;
    height: 4px;
    transform: rotate(-45deg);
    border-left: 2px solid #97ee3f;
    border-bottom: 2px solid #97ee3f
}

.footer_form__checkbox:focus-visible+.footer-form__label_agree::before {
    outline: var(--item-color) solid 2px
}

.footer__title {
    color: var(--gray-color)
}

.footer_block__text {
    flex-grow: 0;
    flex-basis: 20.5%;
    padding-top: 81.5px;
    padding-bottom: 43px;
    font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #CACACA;
}