
@font-face {
    font-family: "Muller";
    src: url("MullerRegular.woff2");
   }
.container_mod {
    margin: auto;
    width: 1920px;
}

body {
    font-family: 'Muller', serif;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-style: normal;
}

.container {
    width: 1170px;
    margin: auto;
    padding: 35px 0;
    max-width: 100%;
    background: #F1F1F1;
}

a {
    text-decoration: none;
}

.cont_logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.telephone {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    margin-right: auto;

}
.telephone:focus
{
    padding: 3px;
    outline: 1px solid #CC9933; /* Параметры рамки */
    background: #f0f0f0;
    color: #CC9933;
}
.telephone:hover
{
    color: #CC9933;
}
.telephone:active
{
    color: #A47312;
}
.lich_kabinet {
    padding-left: 27px;
    background-image: url("../Layot/img/Стрелка.png");
    background-position: left;
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 16px;
    color: #CC9933;
    right: 0px;
}
.lich_kabinet:focus
{
padding: 3px;
outline: 1px solid #CC9933; /* Параметры рамки */
color: #CC9933;
}
.lich_kabinet:hover
{
color: #F0BF5F;
background-image: url("../Layot/img/Vector.svg");

}
.lich_kabinet:active
{
color: #A47312;
background-image: url("../Layot/img/Vector3.svg");
}

.cont_down {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 0px 45px;
}

.cont_li_header {
    margin: 0px;
    list-style-type: none;
    margin-right: auto;
    padding: 0px;

}

.li_head {

    display: inline-block;
    background-position: top center;
    background-color: #ffffff;
    vertical-align: top;
    position: relative;
    margin-right: 45px;
    padding: 27px 0px;
}

.hr {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}
.hr:focus
{
    padding: 3px;
    outline: 1px solid #CC9933;
    color: #CC9933;
}
.hr:hover
{
    color: #CC9933;
}
hr:active
{
    color: #A47312;
}
.but {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #CC9933;
    
}
.but:focus
{
    background-color: #CC9933;
    color: #FFFFFF;
    outline: 1px solid #CC9933;
}
 .but:hover {
    background-color: #CC9933;
    color: #FFFFFF;
 }
 .but:active:not(:focus-visible) {
    background-color: #A47312;
    color: #FFFFFF;
    
 }

.num1 {
    margin-right: 40px;
}

.spec_predl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.spec_zag {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    width: 420px;
    
}

.spec_predl_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 540px;
}

.spec_block {
    display: flex;
    margin-right: 24px;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: center;
    min-height: 258px;
    max-width: 573px;
    
}
.spec_block:last-child
{
    margin-bottom: 0px;
}
.mald {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../Layot/img/pict1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    border-radius: 15px;
}
.spec_price {
    display: flex;
    align-self: start;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}
.spec_price2 {
    display: flex;
    align-self: start;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 47px;
}

.spec_podrobnee {
    display: flex;
    align-self: flex-start;
    margin-bottom: 40px;
    width: 102px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-image: url("../Layot/img/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: right;
}
.spec_podrobnee:focus
{
    color: #F0BF5F;
}
.spec_podrobnee:hover
{
    color: #F0BF5F;
    background-image: url("../Layot/img/Rectangle\ 2.png");
}
.spec_podrobnee:active
{
    color: #FFFFFF;
}
.krit {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../Layot/img/pich2.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.spec_block2 {
    display: flex;
    flex-direction: column;
    max-width: 573px;
    min-height: 540px;
    margin-bottom: 24px;
    padding: 0px 45px;
    justify-content: center;
    align-items: flex-start;
}

.spec_zag2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    width: 299px;
    color: #FFFFFF;
    margin-top: 212px;
    margin-bottom: 15px;
}

.luks {
    background-image: url("../Layot/img/pich3.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zag {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 20px;
    font-weight: 400;
    color: #333333;
    padding-left: 40px;
}

.O_nas_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    max-width: 888px;
}
.ul_yslugi {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.li_yslugi {
    width: 49%;
    min-height: 330px;
    max-width: 573px;
    padding: 35px 45px;
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: 330px;
    max-width: 573px;
    padding: 35px 45px;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.Exkluz {
    background-image: url("../Layot/img/Эксклюзивное.png");
    margin-bottom: 24px;
    margin-right: 24px;
}

.Arenda {
    background-image: url("../Layot/img/Аренда.png");
    margin-bottom: 24px;
}

.Sayna {
    background-image: url("../Layot/img/Сауны.png");
    margin-right: 24px;
}

.Stoynka {
    background-image: url("../Layot/img/Стоянки.png");
}
.yslugi_block {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 573px;
    width: 100%;
min-height: 330px;
}
.text_yslugi {
    width: 402px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin-left: 45px;
    margin-top: 0px;
    margin-bottom: 35px;
    
}

.yslugi_zag {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    padding-right: 16px;
    background-image: url("../Layot/img/Rectangle\ 3.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 26px;
    margin-left: 45px;
    margin-bottom: 0px;
    }
.yslugi_zag:focus
{
    color: #CC9933;
}
.yslugi_zag:hover
{
    color: #F0BF5F;
    background-image: url("../Layot/img/Rectangle\ 2.svg");
}
.yslugi_zag:active
{
 color: #A47312;
}

.ul_block
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.li_preim
{
    max-width: 276px;
    min-height: 276px;
    border-radius: 15px;
    background-color: #FFFFFF;
font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    background-repeat: no-repeat;
    background-position: top 40px left 45px;
    margin-bottom: 22px;

}
.preim_text
{ 
    font-weight: 400;
font-size: 16px;
line-height: 200%;
padding: 116px 42px 32px 45px;
}
.pich1 {
    background-image: url("../Layot/img/bathtub.png");
    margin-right: 22px;
}

.pich2 {
    background-image: url("../Layot/img/hanger.png");
    margin-right: 22px;
}

.pich3 {
    background-image: url("../Layot/img/heating.png");
    margin-right: 22px;
}

.pich4 {
    background-image: url("../Layot/img/hotel-key.png");
}

.pich5 {
    background-image: url("../Layot/img/parking.png");
    margin-right: 22px;
}

.pich6 {
    background-image: url("../Layot/img/reception.png");
    margin-right: 22px;
}

.pich7 {
    background-image: url("../Layot/img/security-box.png");
    margin-right: 22px;
}

.pich8 {
    background-image: url("../Layot/img/swimming-pool.png");
}
.li_preim:not(:nth-child(4n)) {
    margin-right: 22px;
}

.li_preim:not(:nth-child(1n+5)) {
    margin-bottom: 22px;
}

.li_razm
{
    width: 374px;
    min-height: 440px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.li_razm:not(:nth-child(3n)) {
    margin-right: 24px;
}
.li_razm:not(:nth-child(1n+7)) {
    margin-bottom: 24px;
}
.razmesh_block
{
    padding: 32px 45px 45px 45px;
}
.razmesh_block_price
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.price_block
{
    display: flex;
    align-items: center;
}
.text_ot
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #999999;
}
.razm_price
{
    font-weight: 700;
font-size: 20px;
line-height: 20px;

color: #000000;
}
.text_night
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #000000;
}
.razm_text1
{
margin-bottom: 16px;
}
.razm_text2
{
margin-bottom: 26px;
}
.star
{
    margin-right: 6px;
}
.star:last-child 
{
    margin: 0;
}
.pich_vse_var
{
    display: flex;
    background-image: url("../Layot/img/41.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
}
.li_razm_vse_var
{
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    padding-right: 15px;
    background-image: url("../Layot/img/Rectangle\ 4.png");
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 27px;
}
.xochy_tyr_block
{
    background: #FFFFFF;
border-radius: 15px;
}
.forma {
padding: 28px 32px;
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.kontacts
{
min-height: 618px;
background: #FFFFFF;
border-radius: 15px;
}
.podpisi
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #000000;
}
.strelka
{
    
}
.celekt
{

}
select{
    border:0px;
    outline:0px;

 }
 input
 {
        border:0px;
        outline:0px;
 }
.kontact_block
{
    display: flex;
    width: 1170px;
min-height: 618px;
background: #FFFFFF;
border-radius: 15px;
background-image: url("../Layot/img/Контакты.png");
background-position: right;
background-repeat: no-repeat;
padding-top: 45px;
}
.ul_kontact
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 375px;
    min-height: 528px;
}
.li_kontact
{
 display: flex;
 margin-bottom: 25px;
 margin-left: 45px;
}
.li_kontact:last-child
{
    margin-bottom: 0px;
}
.li_kontact_block
{

}
.li_kontact_block2
{
background-position: right;
}
.kontact_zag
{
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #000000;
}
.kontact_text
{
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;
}
.kontact_phone
{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
}
.kontact_mail
{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
}
.kontact_text_gray
{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #999999;
}
.kontact_pich
{
    
}
.but_kontact
{
    margin-left: 74.5px;
    margin-bottom: 72px;
    padding: 25px 30px;
}



 .container_last
 {
    width: 1170px;
    margin: auto;
    padding: 35px 0;
    background: #333333;
    border-radius: 15px;
    max-width: 100%;
 }