.container_mod
{
    margin: auto;
    width: 1920px;
    height: 5677px;
    
    background: #F1F1F1;
}
.modu
{
    display: inline-block;
    margin: 0px;
    padding-inline-start: 0px;
}
.mod_li
{
    display: inline-block;
    background-position: top center;
    background-color: #ffffff;
    vertical-align: top;
    margin-bottom: 20px;
    position: relative;
    
    font-family: 'Muller';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #666666;
}

.cont_sun
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}
.telephone
{
    display: flex;
    margin-left: 34px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px; 
    color: #666666;

}
.lich_kabinet
{
    padding-left: 25px;
    background-image: url("../Layot/img/Стрелка.png");
    background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;

  margin-left: 541px;
    font-family: 'Muller';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #CC9933;
}
.head2
{
    margin: 0 auto;
    margin-top: 114px;
    position: absolute;
margin-left: 375px;
background: #FFFFFF;
border-radius: 15px;
width: 1170px;
max-width: 100%;
}
.li1
{
    display: inline-block;
  margin-top: 27px;
  margin-bottom: 27px;
  padding-left: 45px;
}
.but
{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 13px 20px;
border: 1px solid #CC9933;
border-radius: 10px;

font-family: 'Muller';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #CC9933;

}