
@font-face {
    font-family: "Muller";
    src: url("MullerRegular.woff2"), url("MullerRegular.woff");
   }
img 
   {
    max-width: 100%;
}
.container_mod {
    margin: auto;
    width: 1920px;
    min-width: 320px;
}

body {  
    font-family: 'Muller';
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-style: normal;
}

.container {
    width: 1170px;
    margin: auto;
    padding: 35px 0;
    max-width: 100%;
    background: #F1F1F1;
}

a {
    text-decoration: none;
}
.btn {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #CC9933;
    
}
.btn:focus:focus-visible
{
    background-color: #CC9933;
    color: #FFFFFF;
    outline: 1px solid #CC9933;
}
 .btn:hover {
    background-color: #CC9933;
    color: #FFFFFF;
 }
 .btn:active {
    background-color: #A47312;
    color: #FFFFFF;  
 }

 /*Header*/
.title {
    margin: 0px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #333333;
    padding-left: 40px;
}
.header_top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.header_top__logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header_top__telephone {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    margin-right: auto;

}
.header_top__telephone:focus:focus-visible
{
    padding: 3px;
    outline: 1px solid #CC9933;
    background: #f0f0f0;
    color: #CC9933;
}
.header_top__telephone:hover
{
    color: #CC9933;
}
.header_top__telephone:active
{
    color: #A47312;
}
.header_top__lich_kabinet {
    padding-left: 27px;
    background-position: left;
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 16px;
    color: #CC9933;
    right: 0px;
}
.lich_kabinet_svg
{
fill: #CC9933;
}
.header_top__lich_kabinet:focus:focus-visible
{
padding: 4px;
outline: 1px solid #CC9933;
color: #CC9933;
}
.header_top__lich_kabinet:hover
{
color: #F0BF5F;
}
.header_top__lich_kabinet:hover svg
{
    fill: #F0BF5F;
}
.header_top__lich_kabinet:active
{
color: #A47312;
}

.header_down {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 0px 45px;
}

.header_down_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    margin: 0px;
    list-style-type: none;
    margin-right: auto;
    padding: 0px;
    margin-right: 114px;

}

.down_item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 27px 0px;
}

.down_item__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}
.down_item__title:focus:focus-visible
{
    padding: 3px;
    outline: 1px solid #CC9933;
    color: #CC9933;
}
.down_item__title:hover
{
    color: #CC9933;
}
.down_item__title:active
{
    color: #A47312;
}

.header_down__btn {
    margin-right: 40px;
}

/*Спецпредложения*/

.offers {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    
}
.offers_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 540px;
    word-break: break-word;
}
.offers_article {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 258px;
    max-width: 573px;
    padding-left: 45px;
}
.offers_article:last-child
{
    margin-bottom: 0px;
}
.mald {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../Layot/img/pict1.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.krit {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../Layot/img/pich2.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.luks {
    background-image: url("../Layot/img/pich3.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.offers_article__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    max-width: 420px;
    margin-bottom: 15px;
}
.offers_article__price {
    display: flex;
    align-self: start;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 47px;
}

.offers_article__podrobnee {
    display: flex;
    align-self: flex-start;
    max-width: 102px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    stroke: #F0BF5F;
}
.podr
{
margin-bottom: 47px;
}
.podrobnee_svg
{
    transition: 0.3s ease;
}
.offers_article__podrobnee:focus svg
{
    stroke: #F0BF5F;
    transform: translateX(0.8em);
}
.offers_article__podrobnee:hover svg{
    stroke: #F0BF5F;
    transform: translateX(0.8em);
}
.offers_article__podrobnee:active
{
    color: #FFFFFF;
}

.offers_article2 {
    display: flex;
    flex-direction: column;
    max-width: 573px;
    min-height: 540px;
    padding-left: 45px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 24px;
}

.offers_article__title2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    max-width: 299px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.offers_article__price2 {
    display: flex;
    align-self: start;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 47px;
}

/*О нас*/
.about_us {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    max-width: 888px;
}

/*Услуги*/

.services_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 24px;
}
.services_item {
    width: 49%;
    min-height: 330px;
    max-width: 573px;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 15px;
    background-color: #FFFFFF;
    word-wrap: break-word;
    
}
.Exkluz {
    width: 100%;
    background-image: url("../Layot/img/Эксклюзивное.png");
    margin-bottom: 24px;
}

.Arenda {
    width: 100%;
    background-image: url("../Layot/img/Аренда.png");
    margin-bottom: 24px;
}

.Sayna {
    width: 100%;
    background-image: url("../Layot/img/Сауны.png");
}

.Stoynka {
    width: 100%;
    background-image: url("../Layot/img/Стоянки.png");
}
.services_item_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 573px;
min-height: 330px;  
}
.services_item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    stroke: #CC9933;
    padding: 191px 126px 0px 45px;
    }
.services__title_svg
{
    transition: 0.3s ease;
}
.services_item__title:focus
{
    color: #CC9933;
}
.services_item__title:focus svg
{
    stroke: #CC9933;
    transform: translateX(0.8em);
}
.services_item__title:hover
{
    color: #F0BF5F;
}
.services_item__title:hover svg
{
    stroke: #F0BF5F;
    transform: translateX(0.8em);
}
.services_item__title:active
{
 color: #A47312;
}
.services_item__text {
    max-width: 402px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin-left: 45px;
    margin-top: 0px;
    margin-bottom: 35px;
}

/*Преимущества*/

.advantages_list
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;

}
.advantages_item
{
    max-width: 276px;
    min-height: 276px;
    border-radius: 15px;
    font-weight: 400;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    background-repeat: no-repeat;
    background-position: top 40px left 45px;

}
.advantages_item__text
{ 
    font-weight: 400;
font-size: 16px;
line-height: 200%;
padding: 116px 42px 32px 45px;
}
.advant_pich1 {
    background-image: url("../Layot/img/bathtub.png");
}

.advant_pich2 {
    background-image: url("../Layot/img/hanger.png");
    
}

.advant_pich3 {
    background-image: url("../Layot/img/heating.png");
    
}

.advant_pich4 {
    background-image: url("../Layot/img/hotel-key.png");
}

.advant_pich5 {
    background-image: url("../Layot/img/parking.png");
    
}

.advant_pich6 {
    background-image: url("../Layot/img/reception.png");
    
}

.advant_pich7 {
    background-image: url("../Layot/img/security-box.png");
    
}

.advant_pich8 {
    background-image: url("../Layot/img/swimming-pool.png");
}
.advantages_item:not(:nth-child(4n)) {
    
}

.advantages_item:not(:nth-child(1n+5)) {
    margin-bottom: 22px;
}

/*Размещение*/

.placement_list
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
}
.placement_item
{
    width: 374px;
    min-height: 440px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.placement_item:not(:nth-child(1n+7)) {
    margin-bottom: 24px;
}
.place_item_block
{
    padding: 32px 45px 45px 45px;
}
.place_item_price
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
    word-wrap: break-word;
}
.price_content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.price_content__text_ot
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #999999;
}
.price_content__price
{
    font-weight: 700;
font-size: 20px;
line-height: 20px;

color: #000000;
}
.price_content__night
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #000000;
}
.place_item_title1
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #000000;
margin-bottom: 16px;
}
.place_item_title2
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #999999;
margin-bottom: 20px;
}
.place_rating__star
{
    margin-right: 6px;
}
.place_rating__star:last-child 
{
    margin: 0;
}
.place_vse_pich
{
    display: flex;
    background-image: url("../Layot/img/41.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
}
.place_link
{
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    stroke: #FFFFFF;
    margin-bottom: 27px;
}
.place_vse_svg
{
    transition: 0.3s ease;
}
.place_link:focus svg
{
    transform: translateX(0.8em);
}
.place_link:hover svg
{
    transform: translateX(0.8em);
}

/*Хочу тур*/

.tour
{
    background: #E9E9E9;
    border-radius: 15px;
    margin-top: 35px;
    
}
.tour_title
{
   margin-left: 0px;
   margin-top: 10px;
}
.tour_forma {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1080px;
    min-height: 106px;
    background-color: #FFFFFF;
border-radius: 15px;
margin-left: 45px;
margin-right: 45px;
margin-bottom: 15px;
}
.tour_forma__title
{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
color: #000000;
}
.select_text
{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #000000;
}
select{
    width: 169px;
    height: 25px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
  background: url('../Layot/img/Черная_стрелка.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 12px;

 }
 .tour_forma div [type=number]
 {
    border: none;
    border-bottom: 1px solid #ccc;
 }
 .tour_forma__departure
 {
    max-width: 169px;
height: 43px;
margin-left: 28px;
margin-right: 41px;
 }
 .tour_forma__country
 {
   max-width: 169px;
height: 43px;
margin-right: 41px;
 }
.tour_forma__date
{
    max-width: 121px;
    height: 43px;
    border: none;
    margin-right: 41px;
}
.tour_forma__night
 {
    max-width: 121px;
    height: 45px;
    margin-right: 43px;
 }
 .tour_forma__tourists  
 {
    max-width: 121px;
    height: 45px;
    margin-right: 51px;
 }
 input
 {
    max-width: 116px;
    height: 25px;
    border: none;
 }
.forma_btn
{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-right: 28px;
}

/*Контакты*/

.contacts
{
display: flex;
flex-wrap: wrap;
min-height: 618px;
background: #FFFFFF;
border-radius: 15px;
}
.contacts_content
{
    display: flex;
    flex-direction: column;
    max-width: 375px;
    min-height: 528px;
    padding: 45px 45px 52px 45px;
}
.contacts_content2
{
 margin-top: 45px;
}
.contacts_cont_block
{
    display: flex;
    flex-direction: row;
}
.contacts_cont_block:last-child
{
    margin-bottom: 0px;
}
.kont1
{
    margin-right: 83px;
}
.kont2
{
    margin-right: 47px;
}
.kont3
{
    margin-right: 93px;
}
.kont4
{
    margin-right: 74px;
}
.contacts__title
{
    height: 20px;
    font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #000000;
}
.contacts__text
{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;
    margin-bottom: 23px;

}
.phones_text__phone
{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
}
.email_text__mail
{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
}
.email_text
{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #999999;
}
.contacts__liniya_bottom
{
    background-image: url("../Layot/img/Rectangle\ 21.png");
    width: 375px;
height: 1px;
background: #E9E9E9;
margin-bottom: 25px;
}
.contacts__liniya_bottom:last-child
{
    margin-bottom: 0px;
}
.contacts_btn
{
    padding: 25px 30px;
    margin-top: 25px
}

/*Footer*/

 .container_footer
 {
 width: 1170px;
    margin: auto;
    padding-top: 35px;
    background: #333333;
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 31px;
 }
 .cont_footer_content
 {
    background-image: url("../Layot/img/big_sun.png");
    background-repeat: no-repeat;
    background-position: 700px 65px;
    background-size: 225px;
 }
 .footer_list
 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
 }
 .footer_item
 {
    width: 302px;
    margin-left: 45px;
    padding-bottom: 35px;
 }
 .footer_item__content1
 {
font-weight: 400;
font-size: 16px;
line-height: 190%;
color: #FFFFFF;
margin-bottom: 37px;
 }
 .footer_item__content2
 {
min-height: 90px;
font-weight: 400;
font-size: 16px;
line-height: 190%;
color: #FFFFFF;
 }
 .footer_item__content3
 {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
min-height: 24px;
 }
 .footer_item2
 {
    margin-left: 125px;
    margin-right: 256px;
 }
 .footer_item__content4
 {
min-height: 30px;
margin-bottom: 15px;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
 }
 .footer_item__content5
 {
    margin-bottom: 15px;
 }
 .footer_item3
 {
    margin-right: 45px;
    min-height: 115px;
    max-width: 25px;
    width: 100%;
 }
 .footer_item__iconki
 {
    display: flex;
flex-direction: column;
padding: 0px;
gap: 20px;
 }
 .footer_item__phone
 {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
 }
 .footer_item__mail
 {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
 }
 .iconka
 {
    fill:#999999;
    transition: 0.4s linear;
 }
 .iconka:focus
 {
    fill:#CC9933
 }
 .iconka:hover
 {
    fill: #CC9933;
 }
 .iconka:active
 {
    fill:#A47312
 }